In [38]:
import pandas as pd
import numpy as np

In [39]:
cfpb = pd.read_csv('../1_data_raw/cfpb_loan_level_LI.csv')
cfpb.head()

C:\Users\Fefe\AppData\Local\Temp\ipykernel_24592\3054842870.py:1: DtypeWarning: Columns (23,24,25,27,28,29,30,31,32,33,34,39,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  cfpb = pd.read_csv('../1_data_raw/cfpb_loan_level_LI.csv')

,Unnamed: 0,activity_year,lei,derived_msa_md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,...,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,507,2022,RVDPPPGHCGZ40J4VQ731,35004,NY,36103.0,3.610320e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,...,NaN,NaN,NaN,5369,45.41,146400,74.0,1189,2845,42
1,519,2022,RVDPPPGHCGZ40J4VQ731,35004,NY,36103.0,3.610317e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,...,NaN,NaN,NaN,7731,15.77,146400,135.0,2873,3498,41
2,521,2022,RVDPPPGHCGZ40J4VQ731,35004,NY,36059.0,3.605940e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,...,NaN,NaN,NaN,4363,92.51,146400,94.0,1084,1275,64
3,531,2022,RVDPPPGHCGZ40J4VQ731,35004,NY,36059.0,3.605942e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,...,NaN,NaN,NaN,5948,24.61,146400,109.0,1768,1943,67
4,534,2022,RVDPPPGHCGZ40J4VQ731,35004,NY,36103.0,3.610315e+10,C,VA:First Lien,Single Family (1-4 Units):Site-Built,...,NaN,NaN,NaN,4543,85.74,146400,70.0,667,1019,53

In [40]:
cfpb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115871 entries, 0 to 115870
Data columns (total 100 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Unnamed: 0                                115871 non-null  int64
 1   activity_year                             115871 non-null  int64
 2   lei                                       115871 non-null  object
 3   derived_msa_md                            115871 non-null  int64
 4   state_code                                115869 non-null  object
 5   county_code                               115871 non-null  float64
 6   census_tract                              115857 non-null  float64
 7   conforming_loan_limit                     115697 non-null  object
 8   derived_loan_product_type                 115871 non-null  object
 9   derived_dwelling_category                 115871 non-null  object
 10  derived_ethnicity                         115871 non-null  object
 11  derived_race                              115871 non-null  object
 12  derived_sex                               115871 non-null  object
 13  action_taken                              115871 non-null  int64
 14  purchaser_type                            115871 non-null  int64
 15  preapproval                               115871 non-null  int64
 16  loan_type                                 115871 non-null  int64
 17  loan_purpose                              115871 non-null  int64
 18  lien_status                               115871 non-null  int64
 19  reverse_mortgage                          115871 non-null  int64
 20  open_end_line_of_credit                   115871 non-null  int64
 21  business_or_commercial_purpose            115871 non-null  int64
 22  loan_amount                               115871 non-null  int64
 23  combined_loan_to_value_ratio              82350 non-null   object
 24  interest_rate                             75788 non-null   object
 25  rate_spread                               59754 non-null   object
 26  hoepa_status                              115871 non-null  int64
 27  total_loan_costs                          56206 non-null   object
 28  total_points_and_fees                     761 non-null     object
 29  origination_charges                       56527 non-null   object
 30  discount_points                           33832 non-null   object
 31  lender_credits                            19638 non-null   object
 32  loan_term                                 114516 non-null  object
 33  prepayment_penalty_term                   8835 non-null    object
 34  intro_rate_period                         35197 non-null   object
 35  negative_amortization                     115871 non-null  int64
 36  interest_only_payment                     115871 non-null  int64
 37  balloon_payment                           115871 non-null  int64
 38  other_nonamortizing_features              115871 non-null  int64
 39  property_value                            96084 non-null   object
 40  construction_method                       115871 non-null  int64
 41  occupancy_type                            115871 non-null  int64
 42  manufactured_home_secured_property_type   115871 non-null  int64
 43  manufactured_home_land_property_interest  115871 non-null  int64
 44  total_units                               115871 non-null  object
 45  multifamily_affordable_units              791 non-null     object
 46  income                                    106394 non-null  float64
 47  debt_to_income_ratio                      81208 non-null   object
 48  applicant_credit_score_type               115871 non-null  int64
 49  co_applicant_credit_score_type            115871 non-null  int64
 50  applicant_ethnicity_1                     115783 non-null  float64
 51  applicant_ethnicity_2                     4809 non-null    float64
 52  applicant_ethnicity_3                     90 non-null      float64
 53  applicant_ethnicity_4                     3 non-null       float64
 54  applicant_ethnicity_5                     0 non-null       float64
 55  co_applicant_ethnicity_1                  115845 non-null  float64
 56  co_applicant_ethnicity_2                  2029 non-null    float64
 57  co_applicant_ethnicity_3                  38 non-null      float64
 58  co_applicant_ethnicity_4                  2 non-null       float64
 59  co_applicant_ethnicity_5                  0 non-null       float64
 60  applicant_ethnicity_observed              115871 non-null  int64
 61  co_applicant_ethnicity_observed           115871 non-null  int64
 62  applicant_race_1                          115826 non-null  float64
 63  applicant_race_2                          7063 non-null    float64
 64  applicant_race_3                          353 non-null     float64
 65  applicant_race_4                          18 non-null      float64
 66  applicant_race_5                          3 non-null       float64
 67  co_applicant_race_1                       115865 non-null  float64
 68  co_applicant_race_2                       2987 non-null    float64
 69  co_applicant_race_3                       162 non-null     float64
 70  co_applicant_race_4                       7 non-null       float64
 71  co_applicant_race_5                       0 non-null       float64
 72  applicant_race_observed                   115871 non-null  int64
 73  co_applicant_race_observed                115871 non-null  int64
 74  applicant_sex                             115871 non-null  int64
 75  co_applicant_sex                          115871 non-null  int64
 76  applicant_sex_observed                    115871 non-null  int64
 77  co_applicant_sex_observed                 115871 non-null  int64
 78  applicant_age                             115871 non-null  object
 79  co_applicant_age                          115871 non-null  object
 80  applicant_age_above_62                    105692 non-null  object
 81  co_applicant_age_above_62                 48370 non-null   object
 82  submission_of_application                 115871 non-null  int64
 83  initially_payable_to_institution          115871 non-null  int64
 84  aus_1                                     115871 non-null  int64
 85  aus_2                                     10607 non-null   float64
 86  aus_3                                     2327 non-null    float64
 87  aus_4                                     132 non-null     float64
 88  aus_5                                     128 non-null     float64
 89  denial_reason_1                           115871 non-null  int64
 90  denial_reason_2                           4774 non-null    float64
 91  denial_reason_3                           818 non-null     float64
 92  denial_reason_4                           81 non-null      float64
 93  tract_population                          115871 non-null  int64
 94  tract_minority_population_percent         115871 non-null  float64
 95  ffiec_msa_md_median_family_income         115871 non-null  int64
 96  tract_to_msa_income_percentage            115871 non-null  float64
 97  tract_owner_occupied_units                115871 non-null  int64
 98  tract_one_to_four_family_homes            115871 non-null  int64
 99  tract_median_age_of_housing_units         115871 non-null  int64
dtypes: float64(32), int64(41), object(27)
memory usage: 88.4+ MB

Notes:  
- Some categories look like they are partially one-hot-encoded already, but not completely (Not boolean values? need to check if binary)  
- A lot of personal information about applicants  
- A lot of columns with null values (will need to decide if drop, impute etc.)

### Explanation

- action_taken:
    - 1: Loan originated
    - 2: Application approved but not accepted
    - 3: Application denied by financial institution
    - 4: Application withdrawn by applicant
    - 5: File closed for incompleteness
    - 6: Loan purchased by the institution
    - 7: Preapproval request denied by financial institution
    - 8: Preapproval request approved but not accepted

- purchaser_type
    - 0: Loan was not originated or was not sold in calendar year covered by register
    - 1: Fannie Mae
    - 2: Ginnie Mae
    - 3: Freddie Mac
    - 4: Farmer Mac
    - 5: Private securitization
    - 6: Commercial bank, savings bank or savings association
    - 7 1: credit union, mortgage bank, or finance company
    - 7 2: Life insurance company
    - 8: Affiliate institution
    - 9: Other type of purchaser

- preapproval
    - 1: Preapproval was requested
    - 2: Preapproval was not requested

- loan_type | derived_loan_product_type is the string version
    - 1: Conventional (any loan other than FHA, VA, FSA, or RHS loans)
    - 2: FHA-insured (Federal Housing Administration)
    - 3: VA-guaranteed (Veterans Administration)
    - 4: FSA/RHS (Farm Service Agency or Rural Housing Service)

## Y-Values

- action_taken
- loan_amount
- property_value

### Plans

I believe this dataset can lend itself to a classification or clustering.  

Filter the following:  

- loan_purpose: 1 (purchase)
- business_or_commercial_purpose: 2 (no, personal purpose)
- occupancy_type: 1 (owner occupied)
- total_units: 1 (1 unit)

Drop:  

- Drop all _2 _3 _4 _5 columns (too many null values)
- Drop all columns with more than 50% null values
- Manually drop the following:
    - Column 0 (ID)
    - derived_msa_md
    - State_code
    - Census_tract
    - conforming_loan_limit
    - loan_purpose
    - lien_status
    - reverse_mortgage
    - open_end_line_of_credit
    - business_or_commercial_purpose
    - ... more mentioned in array below

In [41]:

cfpb.query('loan_purpose == 1 and business_or_commercial_purpose == 2', inplace=True)

cfpb.drop([col for col in cfpb.columns if '_2' in col or '_3' in col or '_4' in col or '_5' in col], axis=1, inplace=True)
# Drop columns with more than 50% missing values
cfpb.dropna(thresh=len(cfpb)/2, axis=1, inplace=True)
manual_drop = ['derived_msa_md', 'state_code', 'census_tract', 'conforming_loan_limit', 'loan_purpose', 'lien_status', 'reverse_mortgage', 'open_end_line_of_credit', 'business_or_commercial_purpose', 'rate_spread', 'hoepa_status', 'negative_amortization', 'interest_only_payment', 'balloon_payment', 'other_nonamortizing_features', 'construction_method', 'manufactured_home_secured_property_type', 'manufactured_home_land_property_interest']
cfpb.drop(manual_drop, axis=1, inplace=True)

cfpb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47252 entries, 1 to 115870
Data columns (total 52 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         47252 non-null  int64
 1   activity_year                      47252 non-null  int64
 2   lei                                47252 non-null  object
 3   county_code                        47252 non-null  float64
 4   derived_loan_product_type          47252 non-null  object
 5   derived_dwelling_category          47252 non-null  object
 6   derived_ethnicity                  47252 non-null  object
 7   derived_race                       47252 non-null  object
 8   derived_sex                        47252 non-null  object
 9   action_taken                       47252 non-null  int64
 10  purchaser_type                     47252 non-null  int64
 11  preapproval                        47252 non-null  int64
 12  loan_type                          47252 non-null  int64
 13  loan_amount                        47252 non-null  int64
 14  combined_loan_to_value_ratio       31354 non-null  object
 15  interest_rate                      37353 non-null  object
 16  total_loan_costs                   35412 non-null  object
 17  origination_charges                35730 non-null  object
 18  loan_term                          47216 non-null  object
 19  property_value                     40795 non-null  object
 20  occupancy_type                     47252 non-null  int64
 21  total_units                        47252 non-null  object
 22  income                             42357 non-null  float64
 23  debt_to_income_ratio               31262 non-null  object
 24  applicant_credit_score_type        47252 non-null  int64
 25  co_applicant_credit_score_type     47252 non-null  int64
 26  applicant_ethnicity_1              47239 non-null  float64
 27  co_applicant_ethnicity_1           47246 non-null  float64
 28  applicant_ethnicity_observed       47252 non-null  int64
 29  co_applicant_ethnicity_observed    47252 non-null  int64
 30  applicant_race_1                   47242 non-null  float64
 31  co_applicant_race_1                47251 non-null  float64
 32  applicant_race_observed            47252 non-null  int64
 33  co_applicant_race_observed         47252 non-null  int64
 34  applicant_sex                      47252 non-null  int64
 35  co_applicant_sex                   47252 non-null  int64
 36  applicant_sex_observed             47252 non-null  int64
 37  co_applicant_sex_observed          47252 non-null  int64
 38  applicant_age                      47252 non-null  object
 39  co_applicant_age                   47252 non-null  object
 40  applicant_age_above_62             40587 non-null  object
 41  submission_of_application          47252 non-null  int64
 42  initially_payable_to_institution   47252 non-null  int64
 43  aus_1                              47252 non-null  int64
 44  denial_reason_1                    47252 non-null  int64
 45  tract_population                   47252 non-null  int64
 46  tract_minority_population_percent  47252 non-null  float64
 47  ffiec_msa_md_median_family_income  47252 non-null  int64
 48  tract_to_msa_income_percentage     47252 non-null  float64
 49  tract_owner_occupied_units         47252 non-null  int64
 50  tract_one_to_four_family_homes     47252 non-null  int64
 51  tract_median_age_of_housing_units  47252 non-null  int64
dtypes: float64(8), int64(27), object(17)
memory usage: 19.1+ MB

### Debt to Income Ratio

The debt to income ratio has direct values, but we can specify a range instead.

In [43]:
#testvals = cfpb[len(cfpb['debt_to_income_ratio']) > 2]
# Get all possible values of debt_to_income_ratio
#testvals
def setRatioRange(data):
    firstchar = data['debt_to_income_ratio'][0]
    match firstchar:
        case '3': return '36%-<40%'
        case '4': return '40%-<50%'

dti_query = cfpb['debt_to_income_ratio'].str.len() < 3
dti_categories = cfpb.loc[dti_query].apply(lambda x: setRatioRange(x), axis=1)
cfpb.loc[dti_query, 'debt_to_income_ratio'] = dti_categories

In [44]:
cfpb['debt_to_income_ratio'].unique()

array([nan, '40%-<50%', '20%-<30%', '50%-60%', '30%-<36%', '<20%', '>60%',
       '36%-<40%'], dtype=object)

In [45]:
# save
cfpb.to_csv('../3_data_cleaned/cfpb_loan_level_LI.csv', index=False)