In [7]:
import pandas as pd
import numpy as np

Loading in the dataset and setting up the column names

In [8]:
freddie_column_names = ['credit_score', 'first_payment_date', 'first_time_homebuyer_flag', 
                        'maturity_date', 'metropolitan_statistical_area', 'mortgage_insurance_percentage',
                        'number_of_units', 'occupancy_status', 'original_combined_loan_to_value', 
                        'original_debt_to_income_ratio', 'original_upb', 'original_loan_to_value',
                        'original_interest_rate', 'channel', 'prepayment_penalty_mortgage_flag',
                        'amortization_type', 'property_state', 'property_type', 'postal_code',
                        'loan_sequence_number', 'loan_purpose', 'original_loan_term',
                        'number_of_borrowers', 'seller_name', 'servicer_name',
                        'super_conforming_flag', 'pre_relief_refinance_loan_sequence_number',
                        'program_indicator', 'relief_refinance_indicator', 'property_valuation_method',
                        'interest_only_indicator', 'mortgage_insurance_cancellation_indicator']
freddie = pd.read_csv('F:/Programming/homeli/reviewed_data/Freddie Mac/historical_data_2022.txt', sep='|', header=None, names=freddie_column_names)
freddie.head()

,credit_score,first_payment_date,first_time_homebuyer_flag,maturity_date,metropolitan_statistical_area,mortgage_insurance_percentage,number_of_units,occupancy_status,original_combined_loan_to_value,original_debt_to_income_ratio,...,number_of_borrowers,seller_name,servicer_name,super_conforming_flag,pre_relief_refinance_loan_sequence_number,program_indicator,relief_refinance_indicator,property_valuation_method,interest_only_indicator,mortgage_insurance_cancellation_indicator
0,763,202203,N,205202,47664.0,0,1,P,95,47,...,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7
1,691,202203,N,203702,47664.0,0,1,P,67,25,...,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7
2,678,202203,N,203702,NaN,0,2,P,28,44,...,2,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,2,N,7
3,802,202203,N,205202,33460.0,0,1,P,75,27,...,1,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7
4,767,202203,N,205202,NaN,0,1,P,55,44,...,1,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N,7

In [9]:
freddie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1580579 entries, 0 to 1580578
Data columns (total 32 columns):
 #   Column                                     Non-Null Count    Dtype
---  ------                                     --------------    -----
 0   credit_score                               1580579 non-null  int64
 1   first_payment_date                         1580579 non-null  int64
 2   first_time_homebuyer_flag                  1580579 non-null  object
 3   maturity_date                              1580579 non-null  int64
 4   metropolitan_statistical_area              1420948 non-null  float64
 5   mortgage_insurance_percentage              1580579 non-null  int64
 6   number_of_units                            1580579 non-null  int64
 7   occupancy_status                           1580579 non-null  object
 8   original_combined_loan_to_value            1580579 non-null  int64
 9   original_debt_to_income_ratio              1580579 non-null  int64
 10  original_upb                               1580579 non-null  int64
 11  original_loan_to_value                     1580579 non-null  int64
 12  original_interest_rate                     1580579 non-null  float64
 13  channel                                    1580579 non-null  object
 14  prepayment_penalty_mortgage_flag           1580579 non-null  object
 15  amortization_type                          1580579 non-null  object
 16  property_state                             1580579 non-null  object
 17  property_type                              1580579 non-null  object
 18  postal_code                                1580579 non-null  int64
 19  loan_sequence_number                       1580579 non-null  object
 20  loan_purpose                               1580579 non-null  object
 21  original_loan_term                         1580579 non-null  int64
 22  number_of_borrowers                        1580579 non-null  int64
 23  seller_name                                1580579 non-null  object
 24  servicer_name                              1580579 non-null  object
 25  super_conforming_flag                      22374 non-null    object
 26  pre_relief_refinance_loan_sequence_number  0 non-null        float64
 27  program_indicator                          1580579 non-null  object
 28  relief_refinance_indicator                 0 non-null        float64
 29  property_valuation_method                  1580579 non-null  int64
 30  interest_only_indicator                    1580579 non-null  object
 31  mortgage_insurance_cancellation_indicator  1580579 non-null  object
dtypes: float64(4), int64(13), object(15)
memory usage: 385.9+ MB

Now we are filtering for only Long Island zipcodes

In [9]:
LI_zipcodes = [11000, 11500, 11700, 11800, 11900]
LI_freddie = freddie[freddie.postal_code.isin(LI_zipcodes)]
LI_freddie.head()

,credit_score,first_payment_date,first_time_homebuyer_flag,maturity_date,metropolitan_statistical_area,mortgage_insurance_percentage,number_of_units,occupancy_status,original_combined_loan_to_value,original_debt_to_income_ratio,...,number_of_borrowers,seller_name,servicer_name,super_conforming_flag,pre_relief_refinance_loan_sequence_number,program_indicator,relief_refinance_indicator,property_valuation_method,interest_only_indicator,mortgage_insurance_cancellation_indicator
3807,777,202203,N,205202,35614.0,30,1,P,95,32,...,2,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION","JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",Y,NaN,9,NaN,2,N,N
3882,787,202203,N,203702,35004.0,0,1,I,44,50,...,1,Other sellers,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",NaN,NaN,9,NaN,2,N,7
4270,686,202203,Y,205202,35004.0,25,1,P,90,48,...,2,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION","JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",NaN,NaN,9,NaN,2,N,N
4279,715,202203,Y,205202,35004.0,25,1,P,90,40,...,2,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION","JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",NaN,NaN,9,NaN,2,N,N
4283,798,202203,Y,205202,35004.0,12,1,P,89,48,...,1,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION","JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",NaN,NaN,H,NaN,2,N,N

In [11]:
LI_freddie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11434 entries, 3807 to 1580522
Data columns (total 32 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   credit_score                               11434 non-null  int64
 1   first_payment_date                         11434 non-null  int64
 2   first_time_homebuyer_flag                  11434 non-null  object
 3   maturity_date                              11434 non-null  int64
 4   metropolitan_statistical_area              11425 non-null  float64
 5   mortgage_insurance_percentage              11434 non-null  int64
 6   number_of_units                            11434 non-null  int64
 7   occupancy_status                           11434 non-null  object
 8   original_combined_loan_to_value            11434 non-null  int64
 9   original_debt_to_income_ratio              11434 non-null  int64
 10  original_upb                               11434 non-null  int64
 11  original_loan_to_value                     11434 non-null  int64
 12  original_interest_rate                     11434 non-null  float64
 13  channel                                    11434 non-null  object
 14  prepayment_penalty_mortgage_flag           11434 non-null  object
 15  amortization_type                          11434 non-null  object
 16  property_state                             11434 non-null  object
 17  property_type                              11434 non-null  object
 18  postal_code                                11434 non-null  int64
 19  loan_sequence_number                       11434 non-null  object
 20  loan_purpose                               11434 non-null  object
 21  original_loan_term                         11434 non-null  int64
 22  number_of_borrowers                        11434 non-null  int64
 23  seller_name                                11434 non-null  object
 24  servicer_name                              11434 non-null  object
 25  super_conforming_flag                      653 non-null    object
 26  pre_relief_refinance_loan_sequence_number  0 non-null      float64
 27  program_indicator                          11434 non-null  object
 28  relief_refinance_indicator                 0 non-null      float64
 29  property_valuation_method                  11434 non-null  int64
 30  interest_only_indicator                    11434 non-null  object
 31  mortgage_insurance_cancellation_indicator  11434 non-null  object
dtypes: float64(4), int64(13), object(15)
memory usage: 2.9+ MB

Noted is that columns 25, 26 and 28 are the only columns with null values. Column 25 has a few that are not null but not enough to be helpful in our analysis. We will be dropping all three columns.

In [10]:
null_columns = ['super_conforming_flag', 'pre_relief_refinance_loan_sequence_number', 'relief_refinance_indicator']
LI_freddie.drop(columns=null_columns, inplace=True)

C:\Users\Fefe\AppData\Local\Temp\ipykernel_36568\4194757258.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  LI_freddie.drop(columns=null_columns, inplace=True)

In [11]:
# Save CSV to the same local directory it was loaded from
LI_freddie.to_csv('F:/Programming/homeli/reviewed_data/Freddie Mac/LI_freddie.csv', index=False)

In [15]:
LI_freddie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11434 entries, 3807 to 1580522
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   credit_score                               11434 non-null  int64
 1   first_payment_date                         11434 non-null  int64
 2   first_time_homebuyer_flag                  11434 non-null  object
 3   maturity_date                              11434 non-null  int64
 4   metropolitan_statistical_area              11425 non-null  float64
 5   mortgage_insurance_percentage              11434 non-null  int64
 6   number_of_units                            11434 non-null  int64
 7   occupancy_status                           11434 non-null  object
 8   original_combined_loan_to_value            11434 non-null  int64
 9   original_debt_to_income_ratio              11434 non-null  int64
 10  original_upb                               11434 non-null  int64
 11  original_loan_to_value                     11434 non-null  int64
 12  original_interest_rate                     11434 non-null  float64
 13  channel                                    11434 non-null  object
 14  prepayment_penalty_mortgage_flag           11434 non-null  object
 15  amortization_type                          11434 non-null  object
 16  property_state                             11434 non-null  object
 17  property_type                              11434 non-null  object
 18  postal_code                                11434 non-null  int64
 19  loan_sequence_number                       11434 non-null  object
 20  loan_purpose                               11434 non-null  object
 21  original_loan_term                         11434 non-null  int64
 22  number_of_borrowers                        11434 non-null  int64
 23  seller_name                                11434 non-null  object
 24  servicer_name                              11434 non-null  object
 25  program_indicator                          11434 non-null  object
 26  property_valuation_method                  11434 non-null  int64
 27  interest_only_indicator                    11434 non-null  object
 28  mortgage_insurance_cancellation_indicator  11434 non-null  object
dtypes: float64(2), int64(13), object(14)
memory usage: 2.6+ MB

To-Do:  
- Convert text columns to numerical or use one-hot-encoding [data prep]  
- Check pdf explanation for null values not automatically converted [data prep]  
- Check if normalizing is needed [data prep]  
- Identify a dependent variable (y) [model prep]  

Notes:  
- After filtering for LI, only 76 data points remain. Will need more data than this

## Fernando Updates  

Loan_sequence_number is a unique identifier for each loan. It is not a good dependant variable but can be kept to identify each loan.

The following columns can be considered good independant variables:

- Credit_score
- Original_upb
- first_payment_date

The following columns can be considered good dependant variables:

- Mortgage_insurance_percentage
- Original_debt_to_income_ratio

We can filter the dataset by using the following columns:

- First_time_homebuyer_flag (Y, to filter for first time home buyers that may not be selling a previous home)
- Occupancy_status (P, to filter for primary residences)
- Loan_purpose (P, to filter for purchase loans)
- Original_loan_term (360, to filter for 30 year loans)

We can drop the following columns:

- First_payment_date
- Maturity_date
- Metropolitan_statistical_area
- Channel
- Prepayment_penalty_mortgage_flag
- Armotization_type
- Property_state
- Postal_code
- Program_indicator
- Property_valuation_method
- Interest_only_indicator
- Mortgage_insurance_cancelation_indicator

In [12]:
#LI_freddie = pd.read_csv('F:/Programming/homeli/reviewed_data/Freddie Mac/LI_freddie.csv')
#LI_freddie = LI_freddie[LI_freddie['occupancy_status'] == 'P' and LI_freddie['first_time_homebuyer_flag'] == 'Y' and LI_freddie['loan_purpose'] == 'P' and LI_freddie['original_loan_term'] == 360]
LI_freddie = LI_freddie[LI_freddie['occupancy_status'] == 'P']
LI_freddie = LI_freddie[LI_freddie['first_time_homebuyer_flag'] == 'Y']
LI_freddie = LI_freddie[LI_freddie['loan_purpose'] == 'P']
LI_freddie = LI_freddie[LI_freddie['original_loan_term'] == 360]

In [13]:
drop_columns = ['occupancy_status', 'first_time_homebuyer_flag', 'loan_purpose', 'original_loan_term', 'loan_sequence_number', 'maturity_date', 'metropolitan_statistical_area', 'channel', 'prepayment_penalty_mortgage_flag', 'amortization_type', 'property_state', 'postal_code', 'program_indicator', 'property_valuation_method', 'interest_only_indicator', 'mortgage_insurance_cancellation_indicator']
LI_freddie.drop(columns=drop_columns, inplace=True)

In [14]:
LI_freddie.to_csv('F:/Programming/homeli/reviewed_data/Freddie Mac/LI_freddie.csv', index=False)